---
title: Resources
description: A collection of biology olympiad resources I find the most useful
---

- [BiOGuide](https://bioguide.world/) - A complete preparation platform for Biology enthusiasts. Built by students, for students.

- [IBO official website](https://www.ibo-info.org/en/) - the home of the International Biology Olympiad, including past problems, statutes, and syllabus.

- [Biology olympiad Discord server](https://discord.gg/TXdYaDHFj) - a friendly community of students and mentors preparing for biology olympiads.

- [USABO Guide](https://www.bioly.guide/) - USABO Guide is a student-led project dedicated to promoting higher education in biology by providing free, high-quality learning resources.
